<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAPPP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="scrolling-wrapper">
          <div class="scrolling-text">SAPPP Diário</div>
        </div>
      </header>
    <div class="container">
        <div class="button-container">
            <button id="showLinesButton">Mostrar Itens do Dia</button>
        {% if acesso_completo%}
        <a href="/simulador" class="btn-simulador">Simulador</a>
        {% endif %}
        </div>
    
        <div id="linesContainer"></div>

        <table id="itemsTable">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <div class="search-container">
                    <input type="text" id="searchInput" placeholder="Pesquisar itens..." />
                    <button id="searchButton">Pesquisar</button>
                </div>
                
                <!-- Linhas preenchidas dinamicamente -->
            </tbody>
        </table>

        <h2>Itens Visualizados</h2>
        <div class="calendar" id="calendar"></div>
    </div>

    <footer>
        <p>&copy; 2025 DFS. Todos os direitos reservados.</p>
        
    </footer>

    <!-- Modal para exibir detalhes -->
    <dialog id="dialogBox">
        <div id="speechAnimation" class="speech-pulse" style="display: none;">
            <span>🔊 Falando...</span>
        </div>
        <h2>Detalhes do Item</h2>
        <p><strong>Item:</strong> <span id="modalItem"></span></p>
        <p><strong>Descrição:</strong> <span id="modalDescription"></span></p>
        <p><strong>Peso:</strong> <span id="modalWeight"></span></p>
        <p><strong>Orientação:</strong> <span id="modalOrientation"></span></p>
        <p><strong>Referência:</strong> <span id="modalReference"></span></p>
        <button id="closeDialog">Fechar</button>
        <button id="startSpeechButton" type="button">Iniciar Fala</button>
        <button id="stopSpeechButton" type="button">Parar Fala</button>
    </dialog>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>


